body {
    background: url("../Image/2019 08 23 - SORTIE TOUR EIFFEL (10) 1.png") center;
    background-size: cover;
    height: 90vh;
    min-height: 600px;
    font-family: "arial", sans-serif;
    background-color: black;
}


/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    button {
        background-color: darkblue;
        color: white;
        box-shadow: 1px 1px 1px 1px yellow;
        float: right;
    }

    h1 {
        color: white;
        text-align: right;
        font-weight: bold;
    }

    .navbar-collapse {
        background-color: yellow;
        color: black;
    }


    .bg-primary {
        padding-block: 0px;
    }


    #Accueil {
        color: black;
    }

    #Titan {
        color: black;
    }

    #Association {
        color: black;
    }

    #Radio {
        color: black;
    }

    .dropdown-item .dropdown {
        color: black;
    }

    .dropdown-menu .dropdown-item {
        position: relative;
        color: white;
    }

    .submenu {
        color: black;
    }

    .a .li {
        color: black;
    }

    #Le_logo {
        position: relative;
        width: 200px;
        height: 100px;
    }

    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu {
        position: relative;
        background-color: blue;
    }

    .dropdown-menu .submenu {
        position: relative;
        display: none;
        left: 100%;
        top: -7px;
        background-color: blue;
    }

    .dropdown-menu .submenu-left {
        right: auto;
        left: auto;
    }

    .dropdown-menu>li:hover {
        background-color: blue;
    }

    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}

#main-nav {
    background: #E1E891;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0%;
    margin-top: -0.50%;
    margin-right: 0%;
    font-family: 'Sintony', sans-serif;
}




/* Ajustez la taille du logo selon vos besoins */


/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
        background-color: darkblue;
    }

}