#Le_Mini_Para {
    font-size: 10px;
    color: yellow;
    text-align: center;
}


#Le_Mini_Para {
    font-size: 10px;
    color: yellow;
    text-align: center;
}

#Logo {
    position: relative;
    width: 400px;
    height: 200px;
    left: 800px;
}

footer {
    background-color: #191970;
    height: 500px;
}

#Le_Para {
    color: yellow;
    text-align: center;
}

#Le_Para2 {
    color: yellow;
    text-align: center;
}