body {
    background: url("../Image/Page_garde.png");
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    font-family: "arial", sans-serif;
}

footer img {
    width: 400px;
    height: 300px;
    background-position: center;
}

.container {
    position: relative;
    background-color: #042537;
    width: 1890px;
    height: 400px;
    bottom: -800px;
}

footer .navbar {
    padding: 2rem 0;
}