.video-controls {
    position: absolute;
    width: 50px;
    height: 20px;
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid #000;
}

#play-btn {
    left: 5px;
}

#pause-btn {
    left: 5px;
}

#mute-btn {
    left: 60px;
}

#unmute-btn {
    left: 60px;
}

#stop-btn {
    left: 115px;
}

#replay-btn {
    left: 115px;
}

nav {
    background-color: yellow;
}

#Choisir_Fichier {
    background-color: blue;
    color: white;
}

#Auteur {
    background-color: green;
    color: white;
}

#Nom_Clips {
    background-color: green;
    color: white;
}

body {
    background-color: black;
    color: white;
}